
body {
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
    /* --color1: hsla(349, 69%, 76%, 1);
    --color2: hsla(207, 67%, 44%, 1);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1); */

    /* --color1: hsla(45, 86%, 83%, 1);
    --color2: hsla(135, 65%, 98%, 1);
    --color3: hsla(315, 37%, 86%, 1);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: hsla(224, 40%, 79%, 1); */

    
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--color2);
}

#reset-button{
    display: none;
}

.header{
    display: flex;
    justify-content: center;
}

main{
    display: flex;
    justify-content: center;
}

.main-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 50%;
    text-align: center;
}

.counter{
    text-align: center;
    font-weight: bold;
}

.RPS-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

img{
    width: 100px;
    height: 100px;
}

input{
    display: none;
}

input:checked + img {
    border: 2px black solid;
    border-radius: 25%;
    background-color: lightblue;
}

.button{
    width: 100px;
    height: 30px;
    color: black;
    background-color: white;
    border-color: black;
    border: 2px solid black;
    margin: 10px auto;
    cursor: pointer;
    box-shadow: none;
}

.button:active{
    color: white;
    background-color: black;
    border-color: white;

}